/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
.btn {
    outline: none;
    border: none;
}

body {
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 12px;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.calculator-frame {
    max-width: 320px;
    margin: auto;
    padding: 25px 20px;
    background: #D6E0F0;
    border-radius: 20px;
    /* border: 4px outset rgba(214, 224, 240, 0.37); */
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .2);
}

.calculator-top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* font-size: 18px; */
    /* font-weight: bolder; */
    align-items: center;
}

.calculator-logo {
    display: flex;
    align-items: center;
}

.pre-logo {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Cookie', cursive;
    font-weight: 700;
}

.post-logo {
    text-transform: capitalize;
    /* margin-bottom: 1px; */
    font-size: 18px;
    /* opacity: .9; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: serif;
}

.time-screen {
    /* background-color: #8D93AB; */
    background-color: rgba(0, 0, 0, .2);
    border: 4px inset #8D93AB;
    padding: 5px;
    /* text-align: right; */
    /* font-size: 18px; */
    font-family: 'Open Sans', sans-serif;
}

.calculator-screen-container {
    /* background-color: #8D93AB; */
    background-color: rgba(0, 0, 0, .2);
    border: 2px inset #8D93AB;
    padding: 12px;
    margin-bottom: 25px;
    text-align: right;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.input-screen,
.output-screen {
    width: 100%;
    overflow-x: scroll;
}

.input-screen:hover,
.output-screen:hover {
    cursor: default;
}

.input-screen::-webkit-scrollbar,
.output-screen::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.output-screen {
    font-size: 28px;
    margin-bottom: 7px;
}

.user-input {
    /* visibility: hidden;	 */
    display: none;
}

.calculator-keypad-frame {
    grid-template-columns: 3fr 2fr;
    margin-bottom: 20px;
}

.keypad-btn {
    padding: 8px 2px;
    border: none;
    outline: none;
    background-color: #8D93AB;
    color: #ffffff;
    font-family: 'Akaya Telivigala', cursive;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 18px;
}

.keypad-btn:hover {
    box-shadow: 3px 4px 5px rgb(0 0 0 / 20%);
    transform: scale(1.02);
}

.keypad-btn:active {
    box-shadow: 3px 4px 5px rgb(0 0 0 / 20%);
    transform: scale(1.005);
}

.trig-btn {
    background-color: #00ff00;
}

.clean-btn {
    background-color: #ff0000;
    /* color: #00ff00; */
}

.keypad-num-frame {
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.btn {
    /* color: var(--White); */
    padding: 8px 35px;
    font-size: 18px;
    border-radius: 50px;
}

@media (min-width: 768px) {
    .container {
        padding: 40px 40px;
    }
}

